BITCOIN_VERSION=31.1
BITCOIN_IMAGE=bitcoin-core:latest
BITCOIN_RPC_USER=bitcoin
BITCOIN_RPC_PASSWORD=change-this-regtest-password
RTL_PASSWORD=change-this-rtl-password
MOSTRO_NSEC_PRIVKEY=replace-with-a-test-nsec
